header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: aqua;
    padding: 20px;
}

.logo img{
    width: 60px;
}

nav{
    width: 700px;
    overflow-y: scroll;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
}
